<div class="product-card" [ngClass]="view" [routerLink]="['/product', product.id] ">
    <div class="top-bar">
        <div class="badge" [ngClass]="product.badgeType">{{ product.badge }}</div>
        <div class="actions">
            <span (click)="toggleFavorite()" [class.active]="product.favorite">❤</span>
            <span *ngIf="showCompare" (click)="toggleCompare()" [class.active]="product.compare">⇄</span>
        </div>
    </div>

    <div class="image-wrapper">
        <img [src]="(product.productImageLinks[0] || 'assets/images/no-image.png') | cleanStringLink"
            alt="{{ product.fullName }}" />

        <!-- 🔹 Быстрый просмотр -->
        <button class="quick-view" *ngIf="hovered" (click)="openQuickView()">👁 Быстрый просмотр</button>
    </div>

    <div class="content">
        <h4>{{ product.fullName }}</h4>
        <span id="article">артикул: {{product.article}}</span>
        <!-- 🔹 наличие и упаковка -->
        <div class="extra-info">
            <span class="stock" *ngIf="product.remains.length > 0">В наличии: {{ product.remains[0].quantity }}
                упак.</span>
            <span class="pack" *ngIf="product.packCount">В упаковке: {{ product.packCount }} шт.</span>
        </div>

        <div class="price-block">
            <span class="main-price">
                {{ getPrice(city$ | async) }} ₽
            </span>
            <span *ngIf="product.oldPrice" class="old-price">{{ product.oldPrice }} ₽</span>
            <span *ngIf="product.oldPrice" class="discount">
                -{{ ((1 - (getPrice(city$ | async)) / product.oldPrice) * 100) | number:'1.0-0' }}%
            </span>
        </div>



        <button class="add-cart" *ngIf="!inCart" (click)="addToCart($event)">🛒 В корзину</button>
    </div>
</div>

<div class="quick-view-modal" *ngIf="showQuickView">
    <div class="modal-content">
        <button class="close" (click)="closeQuickView()">✖</button>
        <!-- <img [src]="product.imageInstances[0]?.url" alt="{{ product.fullName }}" />
        <h3>{{ product.fullName }}</h3>
        <p>Цена: {{ product.retailPrice }} ₽</p>
        <p *ngIf="product.oldPrice">Старая цена: {{ product.oldPrice }} ₽</p>
        <p>В наличии: {{ product.remains[0]?.quantity }} упак., в упаковке: {{ product.packCount }} шт.</p>
        <p>Рейтинг: {{ product.rating }} ⭐ ({{ product.reviews }} отзывов)</p> -->
    </div>
    <div class="overlay" (click)="closeQuickView()"></div>
</div>