<div class="categories">
  <div class="category-card" *ngFor="let category of categories">
    <div class="image-wrapper">
      <img [src]="category.image" [alt]="category.title" />
    </div>

    <div class="category-info">
      <h4>{{ category.title }}</h4>
      <p>{{ category.count }} товаров</p>
    </div>

    <ng-container *ngIf="category.subcategories && category.subcategories.length > 0">
      <div class="subcategories">
        <a *ngFor="let sub of category.subcategories" 
           [routerLink]="['/catalog', sub.slug]" 
           class="subcategory-chip">
          {{ sub.name }}
        </a>
      </div>
    </ng-container>
  </div>
</div>
