<div class="multi-cart-tabs">
    <div class="tab active">
        Личная <span class="count">2</span>
    </div>
    <div class="tab">Для компании</div>
    <div class="tab">Подарки</div>

    <button class="add-tab">+ Новая корзина</button>
</div>

<div class="cart-layout">

    <!-- Левый блок: товары -->
    <div style="flex: 2; display: flex;
    gap: 20px;">
        <div class="products">

            <div class="section">
                <div class="cart-container">
                    <h2>Товары в корзине</h2>

                    <ng-container *ngIf="selectedProducts.size > 0">
                        <div class="flex-row">
                            <app-select-cart-button></app-select-cart-button>

                            <button class="icon-btn remove" title="Удалить">
                                <!-- Иконка мусорной корзины -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6Z" />
                                </svg>
                            </button>
                        </div>
                    </ng-container>
                </div>


                <app-product [product]="p" *ngFor="let p of products" class="product" [selected]="isSelected(p.id)"
                    (selectionChange)="onProductSelected($event)"></app-product>

                <div class="cart-footer">
                    <button type="button" class="continue-btn">Продолжить покупки</button>
                </div>
            </div>

            <div class="section">
                <!-- Форма заказа -->
                <app-order-form></app-order-form>
            </div>

        </div>

        <!-- Правый блок: итоги -->
        <app-summary></app-summary>


    </div>