<div class="cart-button-wrapper">
  <button class="icon-btn add-cart" title="Перенести в корзину" (click)="toggleCartPopup()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
      viewBox="0 0 24 24">
      <path d="M7 4h-2l-3 7v2h2l1 7h14l1-7h2v-2l-3-7h-2m-4 13h-4v-2h4v2m-4-4v-2h4v2h-4z" />
    </svg>
  </button>

  <!-- всплывающее окно со списком корзин -->
  <div class="cart-popup" *ngIf="isOpen">
    <h4>Выберите корзину</h4>
    <ul>
      <li *ngFor="let c of ['Личная', 'Для компании', 'Подарки']">
        <button (click)="addToCart.emit()">{{ c }}</button>
      </li>
    </ul>
  </div>
</div>
