<div class="home-page">
  <!-- <app-groups-section id="groups_modile"></app-groups-section> -->

  <!-- Карусель -->
  <app-carousel-banner></app-carousel-banner>

  <app-business-block></app-business-block>
  <!-- Категории -->
  <section class="section">
    <app-title [title]="'Категории'" [description]="'Погрузитесь в мир выгодных покупок вместе с нами'"></app-title>
    <app-category-section [categories]="categories"> </app-category-section>
  </section>

  <!-- Ниши -->
  <section class="section ready_solutions">
    <app-title [title]="'Готовые решения для вашего бизнеса'"
      [description]="'Упаковка, которая уже готова решать задачи вашего бизнеса'"></app-title>
    <app-groups-section [showAll]="false"></app-groups-section>
  </section>

  <!-- Акции -->
  <!-- <section id="section-sales" class="section">
    <h2>Товары по акции</h2>
    <app-sales-products></app-sales-products>
  </section> -->
  <!-- Индикация загрузки -->

  <!-- Популярные -->
  <section class="section" (scroll)="onScroll()">
    <app-title [title]="'Популярные товары'"
      [description]="'Выбирайте и заказывайте хиты продаж прямо сейчас'"></app-title>
    <app-compare-common-btn></app-compare-common-btn>
    <div class="products">
      <app-product [product]="product" *ngFor="let product of products"></app-product>
    </div>
  </section>

  <div *ngIf="loading" class="loading">
    <div class="spinner"></div>
  </div>
</div>