<!-- home.component.html -->
<div class="home-page" #homeContainer>
  <!-- <app-groups-section id="groups_modile"></app-groups-section> -->

  <!-- Карусель -->
  <app-carousel-banner></app-carousel-banner>

  <app-business-block></app-business-block>
  
  <!-- Категории -->
  <section class="section">
    <h2>Категории</h2>
    <app-category-section [categories]="categories"> </app-category-section>
  </section>

  <!-- Популярные -->
  <section class="section">
    <h2>Популярные товары</h2>
    <app-compare-common-btn [showHeader]="true"></app-compare-common-btn>
    <div class="products">
      <app-product
        [product]="product"
        *ngFor="let product of products"
      ></app-product>
    </div>
  </section>

  <div *ngIf="loading" class="loading">
    <div class="spinner"></div>
  </div>
</div>