<div class="home-page">
    <!-- Карусель -->
    <app-carousel-banner></app-carousel-banner>

    <!-- Категории -->
    <section class="section">
        <h2>Категории</h2>
        <app-category-section [categories]="categories"></app-category-section>
    </section>

    <!-- Ниши -->
    <section class="section">
        <h2>Готовые решения</h2>
        <app-groups-section></app-groups-section>
    </section>

    <!-- Акции -->
    <section id="section-sales" class="section">
        <h2>Товары по акции</h2>
        <app-sales-products></app-sales-products>
    </section>

    <!-- Популярные -->
    <section class="section">
        <h2>Популярные товары</h2>
        <app-popular-products></app-popular-products>
    </section>
</div>