<nav class="vertical-menu">
  <ul>
    <li class="active">
      <!-- <span class="icon">🏠</span> -->
      <span class="text">Профиль</span>
    </li>
    <li>
      <!-- <span class="icon">📁</span> -->
      <span class="text">Заказы</span>
    </li>
    <li>
      <!-- <span class="icon">💬</span> -->
      <span class="text">История заказов</span>
    </li>
    <li>
      <!-- <span class="icon">⚙️</span> -->
      <span class="text">Избранное</span>
    </li>
    <li>
      <!-- <span class="icon">❓</span> -->
      <span class="text">Мои отзывы и вопросы</span>
    </li>
  </ul>
</nav>