<nav class="menu">
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['profile']">
      Профиль
    </li>
    <li routerLinkActive="active" [routerLink]="['currentOrders']">
      Заказы
    </li>
    <li routerLinkActive="active" [routerLink]="['orderHistory']">
      История заказов
    </li>
    <li routerLinkActive="active" [routerLink]="['favorites']">
      Избранное
    </li>
    <li routerLinkActive="active" [routerLink]="['questions']">
      Мои вопросы и ответы
    </li>
    <li routerLinkActive="active" [routerLink]="['settings']">
      Настройки
    </li>
    <li (click)="logout()">
      Выход
    </li>
  </ul>
</nav>
