.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: background 0.3s ease;
  margin-bottom: 15px;
  border-radius: 20px;

  &__content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

}
