<div class="summary">
  <h3>Ваш заказ</h3>

  <div class="price-block">
    <p *ngIf="products?.length">
      Товаров: <strong>{{ products.length }}</strong>
    </p>
    <div class="delivery">
      <span>Сумма товаров:</span>
      <strong>{{ total }} ₽</strong>
    </div>
    <div class="delivery">
      <span>Доставка:</span>
      <strong *ngIf="formData.delivery === 'pickup'">0 ₽</strong>
      <strong *ngIf="formData.delivery === 'transport'">≈ 500 ₽</strong>
      <strong *ngIf="formData.delivery === 'city'">≈ 300 ₽</strong>
    </div>
    <hr />
    <div class="total-price">
      <span>Итого к оплате:</span>
      <strong
        >{{
          total +
            (formData.delivery === "transport"
              ? 500
              : formData.delivery === "city"
                ? 300
                : 0)
        }}
        ₽</strong
      >
    </div>
    <p class="delivery-info">Доставка 1-3 дня. Гарантия возврата 14 дней.</p>
  </div>

  <hr />

  <h4>Популярные товары</h4>
  <div class="cross-sell">
    <div class="cross-item" *ngFor="let c of crossSellProducts">
      <img [src]="c.image" alt="{{ c.name }}" />
      <p>{{ c.name }}</p>
      <span>{{ c.price }} ₽</span>
    </div>
  </div>
</div>
