<section class="companies">
    <h3>Мои компании</h3>
    <div class="companies-list">
        <div class="company-card" *ngFor="let company of companies">
            <div class="card-header">
                <h4>{{ company.FullName }}</h4>
            </div>

            <div class="card-body">
                <div class="info">
                    <span class="badge">ИНН: {{ company.Inn }}</span>
                    <span class="badge">ОГРН: {{ company.Ogrn }}</span>
                </div>
                <p class="work"><strong>Сфера:</strong> {{ company.WorkDirection }}</p>
                <p class="phone"><strong>📞</strong> {{ company.PhoneNumber }}</p>
            </div>
        </div>
    </div>
</section>