.layout {
    display: flex;
    min-height: 100vh;
}

.layout__sidebar {
    width: 280px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.layout__content {
    flex: 1;
    padding: 20px 30px 30px 30px;
    overflow-y: auto;
}