<app-product-card [productData]="productData"></app-product-card>

<div class="tabs">
    <div class="tab-buttons">
        <button [class.active]="activeTab==='description'" (click)="setTab('description')">Описание</button>
        <button [class.active]="activeTab==='features'" (click)="setTab('features')">Характеристики</button>
        <button [class.active]="activeTab==='reviews'" (click)="setTab('reviews')">Отзывы</button>
        <button [class.active]="activeTab==='questions'" (click)="setTab('questions')">Вопросы о товаре</button>
    </div>


    <div class="tab-content">
        <div *ngIf="activeTab==='description'">
            <p>{{productData.description}}</p>
        </div>
        <div *ngIf="activeTab==='features'">
            <div class="product-specs-column">
                <h2>Характеристики</h2>
                <ul>
                    <li>
                        <span class="icon">💧</span>
                        <span class="label">Объем:</span>
                        <span class="value">150 мл</span>
                    </li>
                    <li>
                        <span class="icon">📦</span>
                        <span class="label">Материал:</span>
                        <span class="value">Картон с защитным внутренним покрытием</span>
                    </li>
                    <li>
                        <span class="icon">⚖️</span>
                        <span class="label">Диаметр верхнего края:</span>
                        <span class="value">7,5 см</span>
                    </li>
                    <li>
                        <span class="icon">📏</span>
                        <span class="label">Высота:</span>
                        <span class="value">9,5 см</span>
                    </li>
                    <li>
                        <span class="icon">☕❄️</span>
                        <span class="label">Применение:</span>
                        <span class="value">Подходит для горячих и холодных напитков</span>
                    </li>
                    <li>
                        <span class="icon">🌱</span>
                        <span class="label">Экологичность:</span>
                        <span class="value">Перерабатываемый материал</span>
                    </li>
                    <li>
                        <span class="icon">🔥</span>
                        <span class="label">Температура использования:</span>
                        <span class="value">До 90°C</span>
                    </li>
                    <li>
                        <span class="icon">📦</span>
                        <span class="label">Упаковка:</span>
                        <span class="value">50 шт. в упаковке</span>
                    </li>
                </ul>
            </div>

        </div>

        <div *ngIf="activeTab==='reviews'" class="reviews-grid">
            <app-reviews [productId]="productData.id"></app-reviews>
        </div>
        <div *ngIf="activeTab==='questions'" class="reviews-grid">
            <app-questions [productId]="productData.id"></app-questions>
        </div>
    </div>
</div>