<div class="categories">
  <div *ngFor="let category of displayedCategories; let i = index"
    [routerLink]="category.subCategories?.length > 0 ? ['/category', category.id] : ['/products', category.id]">
    <div class="category-card">
      <div class="image-wrapper">
        <img [src]="category.imageInstanceLink" [alt]="category.name" />
      </div>
      <div class="category-info">
        <h4>{{ category.name }}</h4>
        <p>{{ category.productCount }} товаров</p>
      </div>
      <ng-container *ngIf="category.subCategories && category.subCategories.length > 0">
        <div class="subcategories">
          <a *ngFor="let sub of category.subCategories" [routerLink]="['/category', sub.id]" class="subcategory-chip">
            {{ sub.name }}
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<button *ngIf="isMainPage" class="load-more-btn" (click)="toggleDisplay()">
  {{ showAllCategories ? 'Свернуть' : 'Еще'}}
</button>